# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# Ignore datasets
data/raw/*
data/cleaned/*
data/processed/*

# Keep the folders
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/processed/.gitkeep